div {
    font-size : 20px;    
    width : 50px;
    height : 50 px;
}

.tree {
    width : 100px;
}

.column {
    width : 32%;
    float: left;
}

.left {
    width : 100%;
    background-color: rgb(49, 49, 49);
}

.center {
    width : 100%;
    background-color: rgb(49, 49, 49);
}

.right {
    width : 100%;
    background-color: rgb(49, 49, 49);
}

.vertical {
    width : 100%;
    background-color: rgb(49, 49, 49);
}

.value {
    border-radius: 50%;
    width : 100%;
    background-color: rgb(54, 161, 99);
    text-align : center;
}

.operator {
    width : 100%;
    background-color: rgb(49, 49, 49);
    text-align : center;
}
