body {
  width: 80%;
  border : 1px solid black;
  position: relative;
  left: 8%;
}

.general {
  margin : 0.5%;
  padding : 0% 0.2%;
  border : 1px solid black;
}

header {
  background-color: #72c3c6;
}

nav {
  background-color: #4a8056;
}

main {
  width : 68%;
  background-color: #ba89d6;
  float: left;
}

  section {
      width: 48%;
      background-color: #e07f7f;
      float: left;
  }

      article {
          width: 47%;
          background-color: #e07f7f;
          float: left;
      }

      summary {
          width: 80%;
          margin : 5% 2.5% 2.5% 0.5%; 
          padding : 0% 0.2%;
          border : 1px solid black;
          background-color: #e07f7f;
          float: right;
      }

aside {
  width : 28%;
  background-color: #7cafd6;
  float: right;
}

div.noFloat {
  clear: both;
}

footer {
  background-color: #ccaa4d;
}

p {
  margin : 1%;
}