table {
  border-collapse:separate;
  border-spacing: 2px;
  empty-cells:show;
}

caption { 
  caption-side: bottom;
  font-size:xx-large;
  color: green;
}

th, td {
  text-align: center;
  font-size:xx-large;
  color: blue;
}

thead ,th{
  color: palevioletred;
}

.paradigmSummary {
  font-style: italic;
  color: greenyellow;
}

.paradigm {
  font-style: oblique;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: brown;
}
